name: CI
# Set the events that will trigger this workflow
# In this case, this will be triggered push to main branch or in pull requests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, reopened, synchronize]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: yarn install
      - run: yarn test
