name: Publish
on:
  push:
    tags: ['*']
permissions:
  contents: write
jobs:
  publish:
    name: Publish
    if: ${{ github.repository == 'jmjuanes/kofi' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
